#text{
    border: 1px solid lightgreen;
    border-radius: 5px;
    width: 150px;
    height: 30px;
}

#button{
    background-color: lawngreen;
    border: none;
    border-radius: 15px;
    width: 50px;
    height: 30px;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}
#button:hover{
    background-color: #333;
    color: lawngreen;
}

#items {
    display: flex; /* Flexbox for centering content */
    justify-content: center; /* Center the list horizontally */
    align-items: center; /* Center the list vertically */
    
    text-align: center; /* Center text inside the list items */
  }
  
  #items ol {
    list-style-type: lower-alpha; /* Alphabetic list numbering */
    padding-left: 20px; /* Adjust space for the alphabet markers */
  }
  
  #items li {
    margin: 10px 0; /* Space between list items */
    text-align: justify;
  }
  
  
  